html, body {
  color: #512104;
  font-family: Helvetica;
  padding: 1em; }

h1, h2, h3, h4, h5, h6 {
  color: #702e06;
  font-family: 'Alegreya SC', serif;
  font-weight: bold;
  margin-bottom: .5em;
  text-shadow: 0px 1px 0px #fff;
  filter: dropshadow(color=white, offx=0, offy=1); }

h1 {
  font-size: 2.125rem;
  /* 42 / 16 */ }

h2 {
  font-size: 1.625rem;
  /* 26 / 16 */ }

h3 {
  font-size: 1.3125rem;
  /* 21 / 16 */ }

form div.field {
  margin-bottom: .75em; }
form div.field.submit {
  margin-top: .5em; }
  form div.field.submit div:first-child {
    text-align: right; }
    form div.field.submit div:first-child a {
      display: inline-block;
      margin: .35em .5em 0 0;
      padding: .35em .5em .25em .5em; }
form label {
  display: block;
  text-align: left;
  margin: .4em .5em 0 .5em; }
form input[type="text"] {
  background: #efefef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #efefef 0%, white 49%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(49%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #efefef 0%, white 49%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #efefef 0%, white 49%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #efefef 0%, white 49%);
  /* IE10+ */
  background: linear-gradient(top, #efefef 0%, white 49%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #512104;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #512104;
  padding: .25em;
  width: 10em; }
form input[type="text"]:focus {
  outline-color: #e2c6d5; }
form input[type="text"].wide {
  width: 15em; }
form input[type="submit"] {
  background: #fda746;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fda746 0%, #e26f1b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fda746), color-stop(100%, #e26f1b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fda746 0%, #e26f1b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fda746 0%, #e26f1b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fda746 0%, #e26f1b 100%);
  /* IE10+ */
  background: linear-gradient(top, #fda746 0%, #e26f1b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fda746', endColorstr='#e26f1b',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #a35b16;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  color: #fff;
  font-weight: bold;
  padding: .25em .5em .25em .5em;
  text-shadow: 0px 1px 1px #19550f;
  filter: dropshadow(color=#19550f, offx=0, offy=1);
  margin-top: .35em;
  padding: .35em .5em .25em .5em;
  width: 10.65em; }
form input[type="submit"]:active {
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.25); }

div.tablemod {
  font-size: 0.875em;
  margin-bottom: .75em; }
  div.tablemod div.field {
    margin-right: 1em; }
  div.tablemod label {
    margin-left: 0;
    display: inline-block;
    float: left; }
  div.tablemod input[type="text"] {
    float: left;
    margin-right: 1.25em; }
  div.tablemod input[type="submit"] {
    margin-top: 0;
    width: 5em; }

table {
  border-collapse: separate;
  margin-bottom: 1em;
  width: 100%; }
  table caption {
    color: #702e06;
    font-family: 'Alegreya SC', serif;
    font-size: 1.625rem;
    /* 26 / 16 */
    font-weight: bold;
    margin-bottom: .5em; }
  table thead th, table thead td {
    background: #f9d8a0;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f9d8a0 0%, #f5b75c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9d8a0), color-stop(100%, #f5b75c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9d8a0 0%, #f5b75c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9d8a0 0%, #f5b75c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9d8a0 0%, #f5b75c 100%);
    /* IE10+ */
    background: linear-gradient(top, #f9d8a0 0%, #f5b75c 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9d8a0', endColorstr='#f5b75c',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #cccccc;
    border-right: none;
    color: #7d5936;
    -webkit-box-shadow: inset 0px 1px 0px 0px white;
    -moz-box-shadow: inset 0px 1px 0px 0px white;
    box-shadow: inset 0px 1px 0px 0px white;
    font-weight: bold;
    padding: .35em .5em .25em .5em;
    text-shadow: 0px 1px 0px #fce8b8;
    filter: dropshadow(color=#fce8b8, offx=0, offy=1); }
    table thead th a, table thead td a {
      color: #7d5936;
      text-decoration: none; }
  table thead th:first-child,
  table thead td:first-child {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px; }
  table thead th:last-child,
  table thead td:last-child {
    border-right: 1px solid #cccccc;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px; }
  table thead th.yui3-datatable-asc a:after {
    content: "  \25BE"; }
  table thead th.yui3-datatable-desc a:after {
    content: "  \25B4"; }
  table tbody tr {
    background-color: #fff; }
    table tbody tr th, table tbody tr td {
      border: 1px solid #cccccc;
      border-width: 0 0 1px 1px;
      padding: .25em .5em; }
    table tbody tr td:last-child,
    table tbody tr th:last-child {
      border-right-width: 1px; }
  table tbody tr:nth-child(even) {
    background-color: #f3f8f2; }

div.global {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #333;
  padding: .5em .5em 0 .5em;
  text-shadow: 0px 1px 0px #ffffff;
  filter: dropshadow(color=black, offx=0, offy=1); }
  div.global div.row {
    margin-bottom: .5em; }
